/* ==========================================
                FOOTER
========================================== */

.footer {

  padding: 1.2rem;

  background: var(--card);

  color: var(--text);

  text-align: center;

  border-top: 1px solid var(--border);

  box-shadow: 0 -2px 10px rgba(0, 0, 0, .05);

}

.footer p {

  margin: 0;

  color: var(--secondary);

  font-size: 15px;

  line-height: 1.6;

}

.footer a {

  color: var(--primary);

  text-decoration: none;

  font-weight: 600;

  transition: .3s;

}

.footer a:hover {

  text-decoration: underline;

  color: var(--primary);

}

/* ==========================================
            DARK MODE SHADOW
========================================== */

body[data-theme="dark"] .footer {

  box-shadow: 0 -2px 12px rgba(0, 0, 0, .35);

}