:root{

--bg-primary:#FAF7F2;

--glass:rgba(255,255,255,.55);

--green:#2E7D32;

--text:#212121;

--text-light:#666;

}

.dark-theme{

--bg-primary:#11161A;

--glass:rgba(255,255,255,.05);

--green:#5CB85C;

--text:#F5F5F5;

--text-light:#CCCCCC;

}

.bhula-page{

    min-height:100vh;

    background:var(--bg-primary);

    color:var(--text);

}
@keyframes float{

0%{

transform:translateY(0px);

}

50%{

transform:translateY(-12px);

}

100%{

transform:translateY(0px);

}

}